@font-face {
  font-family: HeyAugust;
  src: url("./Hey\ August.ttf");
}
.cursive {
  font-family: HeyAugust;
}

.bg-login {
  background-image: url("./img/adminbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
